@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");

html,body {
    margin:0;
    padding:0;
    height:100%;
}


@media (max-width: 575px) {
    .content_image {
        margin-top:50px;
        
        
    }

    .d-flex {
       display:flex;
       flex-direction:column;
       align-items: center;
    }

    .one {
        position:relative;
        width: 250px;
        height:250px;
        display:block;
        margin-bottom:16px;
    }

    .img-thumbnail {
        width: 250px;
        height:250px;
        display:block;
    }
    
    $color:#000;
    .one #inner-box-1 {
        background-color:$color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        width:100%;
        opacity:0;
        transition:.5s ease;


        &:hover{
            opacity:.9;
            transition:opacity .5s;
        }
    }
   
     $color:#fff;
    p{
        color:$color;
        font-size:20px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,- 50%);
        -ms-transform:translate(-50%, -50%);
        text-align:center;
      
    }

}

@media (min-width: 576px) and (max-width: 767px){
    .content_image {
        margin-top:50px;    
    }

    .one {
        position:relative;
        width: 250px;
        height:250px;
        display:block;
    }

    .img-thumbnail {
        width: 250px;
        height:250px;
        display:block;
    }
    
    $color:#000;
    .one #inner-box-1 {
        background-color:$color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        width:100%;
        opacity:0;
        transition:.5s ease;


        &:hover{
            opacity:.9;
            transition:opacity .5s;
        }
    }
   
     $color:#fff;
    p{
        color:$color;
        font-size:20px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,- 50%);
        -ms-transform:translate(-50%, -50%);
        text-align:center;
      
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .content_image {
        margin-top:50px;        
        
    }

    .one {
        position:relative;
        width: 250px;
        height:250px;
        display:block;
        margin:16px;
        margin-bottom:16px;
    }

    .img-thumbnail {
        width: 250px;
        height:250px;
        display:block;
    }
    
    $color:#000;
    .one #inner-box-1 {
        background-color:$color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        width:100%;
        opacity:0;
        transition:.5s ease;


        &:hover{
            opacity:.9;
            transition:opacity .5s;
        }
    }
   
     $color:#fff;
    p{
        color:$color;
        font-size:20px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,- 50%);
        -ms-transform:translate(-50%, -50%);
        text-align:center;
      
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .content_image {
        margin-top:50px;        
        
    }

    .one {
        position:relative;
        width: 250px;
        height:250px;
        display:block;
        margin:16px;
        margin-bottom:16px;
    }

    .img-thumbnail {
        width: 250px;
        height:250px;
        display:block;
    }
    
    $color:#000;
    .one #inner-box-1 {
        background-color:$color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        width:100%;
        opacity:0;
        transition:.5s ease;


        &:hover{
            opacity:.9;
            transition:opacity .5s;
        }
    }
   
     $color:#fff;
    p{
        color:$color;
        font-size:20px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,- 50%);
        -ms-transform:translate(-50%, -50%);
        text-align:center;
      
    }
}

@media (min-width:1200px) {
    .content_image {
        margin-top:50px;        
        
    }

    .one {
        position:relative;
        width: 250px;
        height:250px;
        display:block;
        margin:16px;
        margin-bottom:16px;
    }

    .img-thumbnail {
        width: 250px;
        height:250px;
        display:block;
    }
    
    $color:#000;
    .one #inner-box-1 {
        background-color:$color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        height:100%;
        width:100%;
        opacity:0;
        transition:.5s ease;


        &:hover{
            opacity:.9;
            transition:opacity .5s;
        }
    }
   
     $color:#fff;
    p{
        color:$color;
        font-size:20px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,- 50%);
        -ms-transform:translate(-50%, -50%);
        text-align:center;
      
    }
}